/* Variables */
$background-color:  #F0F2F4;
$border-color:      #DCDCDC;

$light-gray:        #E6E6F0;
$mid-gray:          #637381;
$dark-gray:         #323232;

$dark-blue:         #212B35;
$light-ble:         #46A0D9;
$sky-blue:          #339AD9;
$royal-blue:        #007ACE;

$lime-green:        #78CC3C;
$success:           #64B828;

$alert:             #E65050;

$yellow:            #FFF200;